<html ng-app="exampleApp">
<head>
	<title>Filters</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular.js"></script>
	<link href="bootstrap.css" rel="stylesheet" />
	<link href="bootstrap-theme.css" rel="stylesheet" />
	<script>
		angular.module("exampleApp", [])
			.controller("defaultCtrl", function ($scope, $filter) {
				$scope.products = [
					{ name: "Apples", category: "Fruit", price: 1.20, expiry: 10 },
					{ name: "Bananas", category: "Fruit", price: 2.42, expiry: 7 },
					{ name: "Pears", category: "Fruit", price: 2.02, expiry: 6 },

					{ name: "Tuna", category: "Fish", price: 20.45, expiry: 3 },
					{ name: "Salmon", category: "Fish", price: 17.93, expiry: 2 },
					{ name: "Trout", category: "Fish", price: 12.93, expiry: 4 },

					{ name: "Beer", category: "Drinks", price: 2.99, expiry: 365 },
					{ name: "Wine", category: "Drinks", price: 8.99, expiry: 365 },
					{ name: "Whiskey", category: "Drinks", price: 45.99, expiry: 365 }
				];
				
				$scope.getExpiryDate = function(days){
					var now = new Date();
					return now.setDate(now.getDate() + days);
				}
				
				$scope.limit = 5;
				$scope.limitAry = [];
				$scope.limitRange = function(){
					for(var i = (0 - $scope.products.length); i <= $scope.products.length; i++){
						$scope.limitAry.push(i);
					}
				}
				$scope.limitRange();
				
				// filter 함수가 호출하면서 각 줄에 대한 참조값을 묵시적으로
				// 전달해 준다.
				// item => { name: "Apples", category: "Fruit", price: 1.20, expiry: 10 },
				$scope.selectItem = function(item){
					if(item.name == 'Wine' || item.category == 'Fish'){
						return true;
					}else{
						return false;
					}
				}
			});
	</script>
</head>
<body ng-controller="defaultCtrl">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3>
				Products
				<span class="label label-primary">{{products.length}}</span>
				<span class="label label-primary">{{limit}}</span>
			</h3>
		</div>

		<div class="panel-body">
			Limit: <select ng-model="limit" ng-options="value for value in limitAry"></select>
		</div>
		
		<div class="panel-body">
			<table class="table table-striped table-bordered table-condensed">
				<thead>
					<tr>
						<td>Name</td>
						<td>Category</td>
						<td>Expiry</td>
						<td class="text-right">Price</td>
					</tr>
				</thead>
				<tbody>
					<!-- 함수명을 지정하면 지정한 함수에 각 한 줄의 row를 매개변수로 전달한다. -->
					<tr ng-repeat="p in products | filter: selectItem ">
						<td>{{p.name}}</td>
						<td>{{p.category}}</td>
						<td>{{getExpiryDate(p.expiry) | date }}</td>
						<td class="text-right">{{p.price | currency}}</td>
					</tr>
				</tbody>
			</table>
					
			
		</div>

	</div>
	
</body>
</html>
